.dooble-flex {
	display: flex;
}

.dooble-flex__sticky {
	width: 245px;
	position: relative;

	&::after {
		position: absolute;
		content: '';
		background: #E0E0E0;
		width: 2px;
		height: 100%;
		right: 0;
		top: 0;
	}

	& .user-bar__panel {
		padding-top: 35px;
		padding-left: 15px;
		padding-right: 15px;
	}

	& .type-wrap {
		display: flex;
		align-items: center;
		justify-content: space-between;


		& .type {
			font-weight: 400;
			font-size: 12px;
			line-height: 14px;
			text-transform: uppercase;
			color: #8C62D9;
		}

		& .bar {
			display: grid;
			grid-template-columns: 1fr 1fr;
			grid-gap: 15px;

		}
	}

	& .user {
		display: flex;
		align-items: center;
		margin-top: 15px;

		& img {
			width: 55px;
			height: 55px;
			object-fit: cover;
			border-radius: 50%;
		}

		& .name {
			font-weight: 300;
			font-size: 16px;
			line-height: 21px;
			color: #000000;
			margin-left: 15px;
		}
	}

	& .left-menu {
		display: none;
		margin-top: 40px;

		&.active {
			display: block;
		}

		& li {
			border-bottom: 2px solid #E0E0E0;

			&:first-child {
				border-top: 2px solid #E0E0E0;
			}

			&.disabled {
				pointer-events: none;
			}

			&.active a {
				background: #8C62D9;

				& span {
					color: #FFFFFF;
				}

				& svg path {
					fill: #fff;
				}
			}

			& a {
				padding: 20px 30px;
				display: flex;
				align-items: center;
				transition: $tr-default;


				&:hover {
					background: #8C62D9;

					& span {
						color: #FFFFFF;
					}

					& svg path {
						fill: #fff;
					}
				}


				& span {
					font-weight: 400;
					font-size: 12px;
					line-height: 14px;
					text-transform: uppercase;
					color: #2E2F33;
					margin-left: 10px;
					transition: $tr-default;
				}
			}
		}
	}
}

.dooble-flex__tabs {
	width: calc(100% - 245px);
	padding: 30px 20px;
	padding-right: 0;
	position: relative;
	margin-left: auto;

	.copyright {
		font-weight: 400;
		font-size: 12px;
		line-height: 14px;
		text-transform: uppercase;
		color: #919191;
		margin-top: 30px;
	}
}



.dooble-flex__preview {
	min-height: 290px;
	border-radius: 25px;
	padding: 35px 50px;

	background: url('../img/dooble-flex-decor.png'), #F8F8F8;
	background-repeat: no-repeat;
	background-position: top right;
	background-size: contain;

	display: flex;
	flex-direction: column;

	& div {
		max-width: 445px;

		& mark {
			font-weight: 400;
			font-size: 14px;
			line-height: 16px;
			text-transform: uppercase;
			color: #8C62D9;
			display: inline-block;
			background: transparent;
		}

		& h1 {
			font-weight: 600;
			font-size: 40px;
			line-height: 48px;
			text-transform: uppercase;
			color: #8C62D9;
			margin: 0;
			margin-top: 70px;
		}

		& p {
			font-weight: 400;
			font-size: 24px;
			line-height: 28px;
			color: #8C62D9;
			margin-top: 5px;
		}
	}

}

.dooble-flex__stack {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 20px;
	margin-top: 20px;

	& .stack-item {
		min-height: 290px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		padding: 35px 52px;
		border-radius: 25px;
		position: relative;
		padding-right: 150px;

		&:hover .decor {
			transform: rotate(45deg);
		}

		& .decor {
			position: absolute;
			top: 35px;
			right: 50px;
			width: 47px;
			height: 47px;
			transition: $tr-default;
		}

		& .stack-item__head {
			font-weight: 400;
			font-size: 14px;
			line-height: 19px;
			text-transform: uppercase;
		}

		& .name {
			font-weight: 500;
			font-size: 40px;
			line-height: 48px;
			text-transform: uppercase;
		}

		&--events {
			background: #8C62D9;

			& .stack-item__head {
				color: #CFEA00;
			}

			& .name {
				color: #CFEA00;
			}
		}

		&--faq {
			background: #CFEA00;

			& .stack-item__head {
				color: #8C62D9;
			}

			& .name {
				color: #8C62D9;
			}
		}
	}
}

.dooble-flex__content {
	display: none;

	&.active {
		display: block;
	}

	&--myprojects {
		& .head {
			position: relative;
			padding-left: 30px;
			padding-bottom: 40px;

			&::after {
				position: absolute;
				content: '';
				background: #E0E0E0;
				height: 2px;
				width: 100vw;
				bottom: 0;
				left: -20px;
			}

			& .title {
				display: flex;
				align-items: center;
				justify-content: space-between;

				& h2 {
					font-weight: 600;
					font-size: 24px;
					line-height: 35px;
					text-transform: uppercase;
					color: #8C62D9;
				}

				& a {
					font-weight: 500;
					font-size: 12px;
					line-height: 14px;
					text-transform: uppercase;
					color: #8C62D9;
					padding: 15px 20px;
					background: #F3EFFB;
					border-radius: 50px;

					position: relative;
					padding-left: 45px;

					display: flex;


					&::after {
						position: absolute;
						content: '';
						background: url('../img/icon-project.svg');
						background-repeat: no-repeat;
						background-position: center;
						background-size: contain;
						width: 20px;
						height: 20px;
						top: 50%;
						left: 15px;
						transform: translateY(-50%);
					}
				}
			}

			& form {
				margin-top: 15px;


				& .form-data {
					display: flex;
					align-items: center;
					justify-content: space-between;

					& .selects {
						display: flex;
						align-items: center;

						& .selects__item {
							margin-right: 20px;

							&:last-child {
								margin-right: 0;
							}

							& a {
								font-size: 12px;
								line-height: 14px;
								text-transform: uppercase;
								color: #2E2F33;
								padding: 12px 15px;
								padding-right: 50px;
								position: relative;
								border: 1px solid #909090;
								border-radius: 7px;

								&::after {
									position: absolute;
									content: '';
									background: url('../img/icon-array.svg');
									background-position: center;
									background-size: contain;
									background-repeat: no-repeat;
									width: 10px;
									height: 10px;
									top: 50%;
									transform: translateY(-50%);
									right: 10px;
								}
							}

							& .hide-list {
								display: none;
							}
						}
					}

					& .search {
						position: relative;

						& label {
							width: 100%;
							height: auto;
							display: flex;

							& input {
								width: 100%;
								height: 100%;
								padding: 12px 15px;
								padding-right: 35px;
								border: 1px solid #909090;
								border-radius: 7px;
							}
						}

						& button {
							position: absolute;
							width: 25px;
							height: 25px;
							display: flex;
							align-items: center;
							justify-content: center;
							top: 50%;
							transform: translateY(-50%);
							right: 7px;

							background: transparent;
							cursor: pointer;
						}
					}
				}
			}
		}

		& .projects-list {
			display: grid;
			grid-template-columns: 1fr;
			grid-gap: 25px;
			margin-top: 25px;

			&__item {
				background: #F8F8F8;
				border-radius: 25px;
				padding: 35px 32px;

				& .projects-list__info {
					display: flex;
					align-items: center;
					justify-content: space-between;

					& .projects-list__wrap {
						display: flex;
						flex-direction: column;
						max-width: 600px;

						& mark {
							font-weight: 400;
							font-size: 10px;
							line-height: 12px;
							text-transform: uppercase;
							padding: 10px 20px;
							display: flex;
							border-radius: 7px;
							max-width: max-content;

							&.draft {
								color: #FFFFFF;
								background: #919191;
							}

							&.rdy {
								color: #2E2F33;
								background: #CFEA00;
							}
						}

						& time {
							font-weight: 400;
							font-size: 14px;
							line-height: 19px;
							text-transform: uppercase;
							color: #919191;
							margin-top: 15px;
							display: flex;
						}

						& .projects-list__title {
							font-weight: 500;
							font-size: 24px;
							line-height: 28px;
							color: #2E2F33;
							margin-top: 7px;
						}

						& .projects-list__deskr {
							font-weight: 400;
							font-size: 14px;
							line-height: 19px;
							text-transform: uppercase;
							color: #2E2F33;
							margin-top: 7px;
						}

					}

					& .projects-list__progress {
						display: flex;
						align-items: center;
						width: 100%;
						max-width: 290px;
						justify-content: flex-end;

						& p {
							font-style: normal;
							font-weight: 400;
							font-size: 20px;
							line-height: 23px;
							color: #2E2F33;
							margin-right: 25px;
						}

						& .projects-list__progress-progress {
							width: 77px;
							height: 77px;
							border-radius: 50%;
							border: 7px solid #F3EFFB;
							position: relative;

							& div {
								position: absolute;
								top: 50%;
								left: 50%;
								transform: translate(-50%, -50%);
								display: flex;
								align-items: center;
								justify-content: center;
								width: 100%;
								height: 100%;

								& span {
									font-weight: 500;
									font-size: 22px;
									line-height: 26px;
									text-align: center;
									color: #2E2F33;
								}
							}
						}
					}
				}

				& .projects-list__panel {
					display: flex;
					align-items: center;
					justify-content: space-between;
					margin-top: 25px;

					& .change__list {
						display: flex;
						align-items: center;
						margin-right: 25px;

						& li {
							margin-right: 25px;

							&:last-child {
								margin-right: 0;
							}

							& a {
								font-weight: 500;
								font-size: 12px;
								line-height: 15px;
								text-transform: uppercase;
								color: #909090;
								padding-left: 30px;
								position: relative;
							}

							&:nth-child(1) {
								& a::after {
									position: absolute;
									content: '';
									background: url('../img/icon-change-list1.svg');
									background-repeat: no-repeat;
									background-position: center;
									background-size: contain;
									width: 20px;
									height: 20px;
									left: 0;
									top: 50%;
									transform: translateY(-50%);
								}
							}

							&:nth-child(2) {
								& a::after {
									position: absolute;
									content: '';
									background: url('../img/icon-change-list2.svg');
									background-repeat: no-repeat;
									background-position: center;
									background-size: contain;
									width: 20px;
									height: 20px;
									left: 0;
									top: 50%;
									transform: translateY(-50%);
								}
							}

							&:nth-child(3) {
								& a::after {
									position: absolute;
									content: '';
									background: url('../img/icon-change-list3.svg');
									background-repeat: no-repeat;
									background-position: center;
									background-size: contain;
									width: 20px;
									height: 20px;
									left: 0;
									top: 50%;
									transform: translateY(-50%);
								}
							}
						}
					}

					& .control__list {
						display: flex;
						align-items: center;

						& li {
							&:nth-child(1) {
								& a {
									padding: 15px 25px;
									display: flex;
									align-items: center;
									justify-content: center;
									font-weight: 500;
									font-size: 12px;
									line-height: 14px;
									text-transform: uppercase;
									color: #8C62D9;
									background: #CFEA00;
									border-radius: 50px;
									position: relative;
									padding-left: 45px;

									&::after {
										position: absolute;
										content: '';
										background: url('../img/icon-project.svg');
										background-repeat: no-repeat;
										background-position: center;
										background-size: contain;
										width: 20px;
										height: 20px;
										top: 50%;
										left: 15px;
										transform: translateY(-50%);
									}
								}
							}

							&:nth-child(2) {
								& a {
									font-weight: 500;
									font-size: 12px;
									line-height: 14px;
									text-transform: uppercase;
									color: #FFFFFF;
									padding: 15px 25px;
									background: #B6B6B6;
									border-radius: 50px;
									margin-left: 25px;
								}
							}
						}
					}
				}
			}
		}
	}

	&--grant {
		& .head {
			position: relative;
			padding-bottom: 30px;

			&::after {
				position: absolute;
				content: '';
				background: #E0E0E0;
				height: 2px;
				width: 100vw;
				bottom: 0;
				left: -20px;
			}

			& .title {
				display: flex;
				align-items: center;
				justify-content: space-between;

				& h2 {
					font-weight: 600;
					font-size: 24px;
					line-height: 35px;
					text-transform: uppercase;
					color: #8C62D9;
				}

				& a {
					font-weight: 500;
					font-size: 12px;
					line-height: 14px;
					text-transform: uppercase;
					color: #8C62D9;
					position: relative;
					padding-left: 45px;
					display: flex;


					&::after {
						position: absolute;
						content: '';
						background: url('../img/icon-left-arrow.svg');
						background-repeat: no-repeat;
						background-position: center;
						background-size: contain;
						width: 20px;
						height: 20px;
						top: 50%;
						left: 15px;
						transform: translateY(-50%);
					}
				}
			}

		}

		& .grand-form {
			& label {
				display: flex;
				margin-top: 20px;
				width: 100%;

				& input {
					padding: 20px;
					border: 1px solid #909090;
					border-radius: 10px;
					width: 100%;
					height: 100%;
					font-weight: 300;
					font-size: 14px;
					line-height: 16px;
					color: #909090;

					&::placeholder {
						font-weight: 300;
						font-size: 14px;
						line-height: 16px;
						color: #909090;
					}
				}
			}

			& .btns {
				display: flex;
				align-items: center;
				margin-top: 35px;

				& button.save {
					font-weight: 500;
					font-size: 12px;
					line-height: 14px;
					text-transform: uppercase;
					color: #8C62D9;
					padding: 15px 25px;

					background: #F3EFFB;
					border-radius: 50px;
					cursor: pointer;
				}

				& button.send {
					font-weight: 500;
					font-size: 12px;
					line-height: 14px;
					text-transform: uppercase;
					color: #FFFFFF;
					padding: 15px 25px;
					background: #8C62D9;
					border-radius: 50px;
					cursor: pointer;
				}
			}

			& .grand-form__item {
				margin-top: 35px;

				& .grand-form__title {
					font-weight: 600;
					font-size: 20px;
					line-height: 23px;
					color: #2E2F33;
				}
			}
		}
	}
}