  @font-face {
  	font-family: "GT-Eesti";
  	src: url("../fonts/GT-Eesti-LC-Display-Light.woff2") format("woff2"),
  		url("../fonts/GT-Eesti-LC-Display-Light.woff") format("woff");
  }

  @font-face {
  	font-family: "GT-Eesti";
  	src: url("../fonts/GT-Eesti-LC-Text-Regular.woff2") format("woff2"),
  		url("../fonts/GT-Eesti-LC-Text-Regular.woff") format("woff");
  }


  @font-face {
  	font-family: "GT-Eesti";
  	src: url("../fonts/GT-Eesti-LC-Text-Regular.woff2") format("woff2"),
  		url("../fonts/GT-Eesti-LC-Text-Regular.woff") format("woff");
  }